n8n/expressions/expressions_workflow_template.json
{
  "name": "Speak Mango",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "60422a79-6610-41d5-95f5-5b6e1543592c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-320, -320]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [192, -144],
      "id": "fb5f59aa-5aec-4b58-8642-eaf81503ca3d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "your-gemini-api-id",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [880, 112],
      "id": "8751cdbc-34aa-4684-a9d7-13ff6dfaf626",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "your-gemini-api-id",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 주제 목록 정의 (대분류/소분류 체계 적용)\n    const topics = [\n      {\n        domain: \"conversation\",\n        category: \"daily\",\n        topic: \"미국 원어민이 매일 쓰는 생활 영어 표현\",\n      },\n      {\n        domain: \"conversation\",\n        category: \"business\",\n        topic: \"비즈니스 미팅이나 이메일에서 꼭 필요한 정중한 영어 표현\",\n      },\n      {\n        domain: \"conversation\",\n        category: \"travel\",\n        topic: \"해외 여행할 때 유용한 필수 영어 표현\",\n      },\n      {\n        domain: \"conversation\",\n        category: \"shopping\",\n        topic: \"해외 직구 쇼핑이나 매장에서 사용하는 쇼핑 관련 영어 표현\",\n      },\n      {\n        domain: \"conversation\",\n        category: \"emotion\",\n        topic: \"기쁨, 슬픔, 화남 등 감정을 섬세하게 표현하는 영어 단어\",\n      },\n      {\n        domain: \"conversation\",\n        category: \"slang\",\n        topic: \"미드나 영화에 자주 나오는 최신 트렌디한 슬랭\",\n      },\n    ];\n\n    // 랜덤 선택\n    const selected = topics[Math.floor(Math.random() * topics.length)];\n\n    return {\n      json: {\n        domain: selected.domain,\n        category: selected.category,\n        topic: selected.topic, // AI 프롬프트용\n      },\n    };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, -320],
      "id": "6eae6007-a015-40f5-a817-e38ef8534850",
      "name": "Pick Category"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: Professional English Teacher\n  Task: Suggest ONE useful English expression related to the category below.\n\n  Domain: {{ $('Pick Category').first().json.domain }}\n  Category: {{ $('Pick Category').first().json.category }}\n\n# EXCLUDED EXPRESSIONS (Do NOT generate these):\n  {{ $items(\"Get Existing Expressions\").map(item => item.json.expression).join(\", \") }}\n\n  Requirements:\n  1. The expression must be practical and widely used.\n  2. **Do NOT use any expression listed in the 'EXCLUDED EXPRESSIONS' list.**\n  3. Capitalization for 'expression':\n     - Start with an UPPERCASE letter for standalone sentences (e.g., \"Don't take it personally\", \"No cap\").\n     - Start with a lowercase letter for general phrases or idioms (e.g., \"spill the tea\", \"hit the road\").\n  4. Punctuation for 'expression': Do NOT include trailing periods (.) or commas (,). Exclamation marks (!) and question marks (?) are allowed.\n  5. For the 'meaning' field:\n     - Provide a concise definition in a casual tone (반말).\n     - If there are multiple meanings, separate them with ' · ' (middle dot).\n     - Do NOT end with a period (.).\n  6. Output MUST be a clean JSON object.\n\n  Output Format (JSON):\n  {\n    \"expression\": \"Hold your horses\",\n    \"meaning\": \"잠깐 기다려 · 진정해\"\n  }",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [192, -320],
      "id": "08ab4ee3-f631-413e-a2a5-cc95b15f2faa",
      "name": "Gemini Expression Generator",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: Professional English Content Creator & Polyglot Teacher.\nTask: Create a detailed study card for the following English expression in these languages: **English (en), Korean (ko), Japanese (ja), Spanish (es), French (fr), German (de), Russian (ru), Chinese (zh), and Arabic (ar)**.\n\nExpression: {{ $('Parse Expression JSON').item.json.expression }}\nDomain: {{ $('Pick Category').first().json.domain }}\nCategory: {{ $('Pick Category').first().json.category }}\n\nRequirements:\n1. Tone: Friendly, humorous, and engaging (target audience: 20-30s), BUT **MUST use polite language consistently** for explanations.\n    - **English**: Use **Standard English** (Friendly, conversational, yet educational).\n    - **Korean**: Use **존댓말 (Jondaetmal)**.\n    - **Japanese**: Use **Desu-Masu Form (丁寧語)**.\n    - **Spanish**: Use **'Tú' form** but keep it respectful and professional.\n    - **French**: Use **'Tu' form** for engagement but maintain a polite, helpful tone (or 'Vous' if context demands strict formality, but 'Tu' is preferred for 20-30s friendly content).\n    - **German**: Use **'Du' form** (friendly, for 20-30s audience).\n    - **Russian**: Use **'Вы' (Polite)** for general explanations to maintain authority, or **'ты'** if very casual. (Stick to **Friendly 'Вы'** or respectful **'ты'**). Let's use **Friendly 'Ты'** for this target audience (20-30s blog style).\n    - **Chinese**: Use **Polite yet friendly (你 + 敬语/Polite particles)**.\n    - **Arabic**: Use **Modern Standard Arabic (MSA)** but with a friendly, accessible tone (avoid overly archaic vocabulary).\n\n2. For the 'meaning' field in ALL languages:\n   - **Tone**: Use a **casual tone** by default.\n     - **Korean**: Use **반말 (Banmal)**.\n     - **Japanese**: Use **Plain Form (Tameguchi/タメ口)**.\n     - **Spanish**: Use **Informal 'Tú' form**.\n     - **French**: Use **Informal 'Tu' form**.\n     - **German**: Use **Informal 'Du' form**.\n     - **Russian**: Use **Informal 'ты' form**.\n     - **Chinese**: Use **Casual speech**.\n     - **Arabic**: Use **MSA** (simplified).\n   - **Target Language ONLY**: Definitions must be in the specified Target Language. Do NOT mix with other languages (except for 'en', which uses English).\n   - **EXCEPTION**: If the English expression is formal or typically used in a polite situation (e.g., \"Could I...\", \"May I...\"), use a **polite tone** in all languages.\n     - **Korean**: 존댓말 (Jondaetmal).\n     - **Japanese**: Desu-Masu Form (丁寧語).\n     - **Spanish**: Formal 'Usted' form.\n     - **French**: Formal 'Vous' form.\n     - **German**: Formal 'Sie' form.\n     - **Russian**: Formal 'Вы' form.\n     - **Chinese**: Polite speech (using '您' instead of '你').\n     - **Arabic**: Formal MSA (Fusha).\n   - For English (en) meaning: Provide a simple, clear definition or synonym in English.\n   - **Punctuation**: If the English expression is a question (?), the meaning MUST also end with a question mark (?) or be phrased as a question. Do NOT use trailing periods (.) for statements.\n   - If there are multiple meanings, separate them with ' · ' (middle dot).\n3. Formatting for 'expression':\n   - **Capitalization**: **Start with an UPPERCASE letter** if the expression is a standalone sentence or interjection (e.g., \"No worries\", \"Never mind\", \"Don't take it personally\"). **Start with a lowercase letter** ONLY if it is a phrase or idiom used within a sentence (e.g., \"spill the tea\", \"hit the road\").\n   - Punctuation: Do NOT include trailing periods (.) or commas (,). Exclamation marks (!) and question marks (?) are allowed.\n4. Constraint for content:\n   - **Language Usage**: Use the specific **Target Language** for all explanations (this applies to situation, tips, AND quiz questions/options).\n     *   **English Inclusion Allowed**: You MAY include the English expression or specific English keywords naturally for educational purposes.\n     *   **No Mixed Target Language Scripts**: Do NOT mix in other target languages (e.g., no Japanese characters in Korean content, no Hangul in Spanish).\n   - **NEVER use casual speech** in the explanation, tips, dialogue, or situation description (except for the 'meaning' field).\n     - **English**: Avoid text-speak (e.g., \"u\", \"r\") or excessive slang in explanations; keep it clear and accessible.\n     - **Korean**: No 반말 (Banmal).\n     - **Japanese**: No Plain Form (Tameguchi).\n     - **Spanish/French/German/Russian**: Maintain a helpful, teacher-like tone (avoid overly colloquial slang in the explanation text itself).\n   - Do NOT mix polite and casual styles. Keep the tone consistent throughout.\n   - Do NOT address the reader as specific groups like \"Kids\" or \"Students\". Use a general, relatable tone suitable for young adults.\n5. Output MUST be a valid JSON object matching the schema below.\n6. 'meaning' and 'content' fields must contain keys for **en, ko, ja, es, fr, de, ru, zh, ar**.\n7. **Dialogue & Roles (CRITICAL)**:\n   - The `dialogue` field is a **TOP-LEVEL array** (sibling to `meaning` and `content`), NOT inside `content`.\n   - Create a **coherent, natural conversation** between two people (A and B).\n   - **The dialogue MUST consist of 2 or 3 turns (A -> B or A -> B -> A).**\n   - Ensure natural interaction where either speaker can use the target expression in a meaningful context (not limited to a Q&A pattern).\n   - Each entry in the `dialogue` array MUST include:\n     - `\"role\"`: Value \"A\" or \"B\" to distinguish speakers.\n     - `\"en\"`: The English sentence (**English ONLY**).\n     - `\"translations\"`: **CRITICAL** An object containing translations for **ALL 8 target languages**: `\"ko\"`, `\"ja\"`, `\"es\"`, `\"fr\"`, `\"de\"`, `\"ru\"`, `\"zh\"`, `\"ar\"`.\n       *   **Do NOT omit this object or any languages.**\n       *   **Target Language ONLY**: The value MUST contain ONLY the translated text in the target language.\n       *   **Pure Text Only**: Do NOT use markdown formatting (e.g., **bold**, *italic*). **Natural punctuation** (e.g., . , ? ! ') IS allowed and expected to reflect the spoken tone.\n       *   **No Mixed Language (CRITICAL)**: **NEVER** include the original English text or the English expression in the translation. (e.g., **Bad**: \"안녕하세요. Hello.\", **Good**: \"안녕하세요\")\n8. **Consistency**: Use the 'Example (Korean)' below as a reference for the depth, humor, and style. Apply the same quality to English, Japanese, Spanish, French, German, Russian, Chinese, and Arabic.\n9. **Fixed Fields**: Include the 'domain' and 'category' exactly as provided in the input.\n10. **Quiz Logic (CRITICAL)**:\n    - The quiz must test the understanding of the English expression.\n    - **Randomly select one of the following patterns**:\n      - **Pattern 1 (Situation -> English)**: Describe a situation in [Target Language] and ask \"Which English expression fits this situation?\". -> The options (A, B, C) MUST be **English expressions**.\n        *   *Example (Target Language: ko)*: Q: \"친구가 \\\"이번 주말에 영화 볼까요?\\\"라고 제안했을 때, 긍정적으로 동의하는 가장 자연스러운 영어 표현은?\\n\\nA. Sounds bad\\nB. Sounds good\\nC. Sounds angry\"\n      - **Pattern 2 (Expression -> Situation)**: Show the expression and ask \"When would you use this?\" in [Target Language]. -> The options (A, B, C) MUST be **situations described in [Target Language]**.\n        *   *Example (Target Language: ko)*: Q: \"다음 중 'What's up?'을 가장 자연스럽게 사용할 수 있는 상황은?\\n\\nA. 💰 은행에서 대출 상담을 받고 있다.\\nB. 🚀 회사 중역 회의에서 발표를 시작한다.\\nC. 🚶‍♀️ 길을 걷다가 친구와 눈이 마주쳤다.\"\n      - **Pattern 3 (Negative Logic)**: Ask \"Which situation is **NOT** appropriate for this expression?\" in [Target Language]. -> The options (A, B, C) MUST be **situations described in [Target Language]**.\n        *   *Example (Target Language: ko)*: Q: \"다음 중 'Let's touch base.'의 사용이 적절하지 않은 상황은?\\n\\nA. 🙋‍♀️ 팀원과 주간 보고서에 대해 짧게 이야기할 때.\\nB. 🥳 친구들과 주말에 놀러 갈 계획을 세울 때.\\nC. 🧑‍💻 고객과 다음 단계 논의를 위해 연락할 때.\"\n    - **Strict Formatting & Validation Rules**:\n      1. **These rules apply to ALL languages (en, ko, ja, es, fr, de, ru, zh, ar).**\n      2. You **MUST** provide 3 distinct options labeled A, B, and C.\n      3. You **MUST** use `\\n` (newline) to separate the question and each option.\n      4. The 'answer' field MUST be **only the uppercase letter** (e.g., \"A\", \"B\", \"C\"). **NEVER** include the full text of the answer.\n      5. **Randomize the correct answer position**: The correct answer MUST be randomly assigned to A, B, or C. Do NOT default to 'B'. ensure equal distribution of A, B, and C across different generations.\n11. **Tags (MANDATORY)**: Include a `\"tags\"` field containing an array of 3 to 5 lowercase **English** strings (**English ONLY**). These tags should be relevant keywords that help categorize the expression (e.g., \"idiom\", \"office\", \"slang\", \"travel\"). Do NOT include the '#' symbol.\n12. **Currency & Numbers**:\n    - Always use **`$` (USD)** for currency to maintain consistency (e.g., \"$10\", \"$50.50\"). Do not use other currencies like 'won', 'yen', or 'euro' unless the expression specifically requires it.\n    - Use commas for numbers larger than 1,000 (e.g., \"1,000\", \"10,000\").\n\nExample Output (Reference this style for ALL languages):\n{\n  \"expression\": \"under the weather\",\n  \"domain\": \"conversation\",\n  \"category\": \"daily\",\n  \"meaning\": {\n    \"en\": \"not feeling well · feeling sick\",\n    \"ko\": \"몸이 좀 안 좋아 · 컨디션이 별로야\",\n    \"ja\": \"体調が少し悪い · 気分がすぐれない\",\n    \"es\": \"sentirse un poco mal · no estar al cien\",\n    \"fr\": \"se sentir mal · être patraque\",\n    \"de\": \"sich nicht gut fühlen · angeschlagen sein\",\n    \"ru\": \"неважно себя чувствовать · приболеть\",\n    \"zh\": \"身体不舒服 · 感觉不太好\",\n    \"ar\": \"لست على ما يرام · أشعر بالمرض\"\n  },\n  \"content\": {\n    \"en\": {\n      \"situation\": \"This is perfect for those days when you wake up feeling a bit sluggish or off. 😱 It's a great expression to say you're not 100%, but not seriously ill either! 🤒✨\",\n      \"tip\": \"💡 **Fun Fact!** This idiom is said to come from sailors who would go below deck (under the weather rail) when they felt seasick during bad weather! ⚓️🌊 Remember, if you are genuinely sick, it's better to say 'I'm sick' or 'I have a fever'.\",\n      \"quiz\": {\n        \"question\": \"When is the most appropriate time to use 'under the weather'?\\n\\nA. 🥳 When you are dancing happily at a party.\\nB. 😴 When you are lying in bed feeling a bit chilly and off.\\nC. 🏋️‍♀️ When you are lifting weights energetically at the gym.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ko\": {\n      \"situation\": \"🌟 아침에 일어났는데 왠지 모르게 몸이 축 처지고, 컨디션이 별로일 때! 😱 '아, 나 오늘 뭔가 좀 별론데... 병든 병아리 같아...' 할 때 쓰는 핵인싸 표현이에요! 진짜 아픈 건 아닌데 그렇다고 완전 쌩쌩하지도 않을 때, 가볍게 내 상태를 말하고 싶을 때 찰떡같이 쓸 수 있답니다! 🤒✨\",\n      \"tip\": \"🚨 **꿀팁 방출!** 'under the weather'는 진짜 심각하게 아플 때보다는 가볍게 '컨디션이 안 좋다', '감기 기운이 있다' 정도의 느낌이에요. 😷 만약 진짜 심하게 아프다면 'I'm sick' 또는 'I have a fever'처럼 구체적으로 말하는 게 좋아요. 😉 그리고 이 표현은 뱃사람들이 배에서 날씨가 안 좋을 때 아픈 사람을 갑판 아래로 보내 '날씨 아래'에 있게 했다는 유래가 있대요! 완전 신기하죠? ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"다음 중 'under the weather'를 사용하기 가장 적절한 상황은?\\n\\nA. 🥳 파티에서 신나게 춤추고 있다.\\nB. 😴 침대에서 밍기적거리며 몸이 좀 으슬으슬하다.\\nC. 🏋️‍♀️ 헬스장에서 역기를 들고 운동하고 있다.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ja\": {\n      \"situation\": \"朝起きた時に、なんとなく体がだるくて「今日はなんだか調子が悪いな…」と感じる時にぴったりの表現です！😷 本当にひどい病気ではないけれど、100%元気でもない時に、自分の状態をカジュアルに伝えることができます。✨\",\n      \"tip\": \"💡 **豆知識!** この表現は、昔の船乗りが天候が悪くて体調を崩した時に、甲板の下（Under the deck）に避難したことから「Under the weather」になったという説があります。⚓️ 本当に体調が悪い時は「I'm sick」を使いましょう！\",\n      \"quiz\": {\n        \"question\": \"「under the weather」を使うのに最も適した状況は？\\n\\nA. 🥳 パーティーで楽しく踊っている。\\nB. 😴 風邪気味で、ベッドで休んでいる。\\nC. 🏋️‍♀️ ジムで元気にトレーニングしている。\",\n        \"answer\": \"B\"\n      }\n    },\n    \"es\": {\n      \"situation\": \"¡Cuando te despiertas y te sientes un poco cansado o sin energía! 😱 Es una expresión muy común para decir que no te sientes al 100%, pero tampoco estás gravemente enfermo. 🤒✨\",\n      \"tip\": \"🚨 **¡Dato curioso!** El origen viene de los marineros. Cuando el clima era malo y se sentían mal, bajaban debajo de la cubierta para estar 'bajo el clima'. 🌊⚓️ Si estás realmente enfermo, es mejor usar 'I'm sick'.\",\n      \"quiz\": {\n        \"question\": \"¿En qué situación usarías \\\"under the weather\\\"?\\n\\nA. 🥳 En una fiesta bailando alegremente.\\nB. 😴 Descansando en la cama porque te sientes un poco mal.\\nC. 🏋️‍♀️ Entrenando con mucha energía en el gimnasio.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"fr\": {\n      \"situation\": \"C'est parfait pour les jours où vous vous réveillez un peu mou. 😱 C'est une super expression pour dire que vous n'êtes pas à 100%, sans être gravement malade ! 🤒✨\",\n      \"tip\": \"💡 **Le saviez-vous ?** Cette expression viendrait des marins qui descendaient sous le pont pour s'abriter du mauvais temps quand ils avaient le mal de mer ! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"Quand est-il le plus approprié d'utiliser 'under the weather' ?\\n\\nA. 🥳 Quand vous dansez joyeusement à une fête.\\nB. 😴 Quand vous êtes au lit et que vous vous sentez un peu fébrile.\\nC. 🏋️‍♀️ Quand vous soulevez des poids énergiquement à la salle de sport.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"de\": {\n      \"situation\": \"Perfekt für Tage, an denen man aufwacht und sich einfach schlapp fühlt. 😱 Ein toller Ausdruck, um zu sagen, dass man nicht 100% fit ist, aber auch nicht ernsthaft krank! 🤒✨\",\n      \"tip\": \"💡 **Schon gewusst?** Diese Redewendung stammt angeblich von Seeleuten, die bei schlechtem Wetter unter Deck gingen, wenn sie seekrank waren! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"Wann ist der beste Zeitpunkt, 'under the weather' zu verwenden?\\n\\nA. 🥳 Wenn du fröhlich auf einer Party tanzt.\\nB. 😴 Wenn du im Bett liegst und dich etwas kränklich fühlst.\\nC. 🏋️‍♀️ Wenn du im Fitnessstudio energiegeladen Gewichte hebst.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ru\": {\n      \"situation\": \"Это идеально подходит для тех дней, когда вы просыпаетесь с чувством вялости. 😱 Отличное выражение, чтобы сказать, что вы не на 100% в форме, но и не серьезно больны! 🤒✨\",\n      \"tip\": \"💡 **Интересный факт!** Говорят, что эта идиома пошла от моряков, которые спускались под палубу (under the weather rail), когда их укачивало во время шторма! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"Когда уместнее всего использовать 'under the weather'?\\n\\nA. 🥳 Когда вы радостно танцуете на вечеринке.\\nB. 😴 Когда вы лежите в кровати и чувствуете легкое недомогание.\\nC. 🏋️‍♀️ Когда вы энергично поднимаете тяжести в спортзале.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"zh\": {\n      \"situation\": \"当你早上醒来感觉有点没精神或者不舒服的时候，用这个词再合适不过了！😱 这是一个很好的表达，用来形容你状态不是100%好，但也没生什么大病！🤒✨\",\n      \"tip\": \"💡 **冷知识！** 据说这句习语源于水手，当遇到恶劣天气感到晕船时，他们会躲到甲板下面（under the weather rail）！⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"什么时候最适合使用 'under the weather'？\\n\\nA. 🥳 当你在派对上开心地跳舞时。\\nB. 😴 当你躺在床上感觉有点发冷不舒服时。\\nC. 🏋️‍♀️ 当你在健身房精力充沛地举重时。\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ar\": {\n      \"situation\": \"هذا التعبير مثالي للأيام التي تستيقظ فيها وأنت تشعر ببعض الخمول أو التعب. 😱 إنه تعبير رائع لتقول إنك لست في كامل لياقتك، لكنك لست مريضاً بشكل خطير أيضاً! 🤒✨\",\n      \"tip\": \"💡 **حقيقة ممتعة!** يقال إن هذا المصطلح جاء من البحارة الذين كانوا ينزلون تحت سطح السفينة (تحت حاجز الطقس) عندما يشعرون بدوار البحر أثناء الطقس السيئ! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"متى يكون الوقت الأنسب لاستخدام عبارة 'under the weather'؟\\n\\nA. 🥳 عندما ترقص بسعادة في حفلة.\\nB. 😴 عندما تكون مستلقياً في السرير وتشعر ببعض البرودة والتوعك.\\nC. 🏋️‍♀️ عندما ترفع الأثقال بنشاط في صالة الألعاب الرياضية.\",\n        \"answer\": \"B\"\n      }\n    }\n  },\n  \"dialogue\": [\n    {\n      \"role\": \"A\",\n      \"en\": \"Hey, you look a bit down. Are you okay?\",\n      \"translations\": {\n        \"ko\": \"저기, 좀 기분이 안 좋아 보이는데. 괜찮아요?\",\n        \"ja\": \"ねえ、なんだか元気がないみたいだけど大丈夫？\",\n        \"es\": \"Oye, te ves un poco desanimado. ¿Estás bien?\",\n        \"fr\": \"Hé, tu as l'air un peu déprimé. Ça va ?\",\n        \"de\": \"Hey, du siehst ein bisschen niedergeschlagen aus. Alles okay?\",\n        \"ru\": \"Эй, ты выглядишь немного подавленным. Ты в порядке?\",\n        \"zh\": \"嘿，你看起来有点沮丧。你还好吗？\",\n        \"ar\": \"مهلاً، تبدو محبطاً قليلاً. هل أنت بخير؟\"\n      }\n    },\n    {\n      \"role\": \"B\",\n      \"en\": \"I'm feeling a bit under the weather today, so I think I'll just head home early.\",\n      \"translations\": {\n        \"ko\": \"오늘 몸이 좀 안 좋아서, 일찍 집에 가려고요.\",\n        \"ja\": \"今日はちょっと体調が悪いので、早めに帰ろうと思います。\",\n        \"es\": \"Hoy me siento un poco mal, así que creo que me iré a casa temprano.\",\n        \"fr\": \"Je ne me sens pas très bien aujourd'hui, donc je pense que je vais rentrer plus tôt.\",\n        \"de\": \"Ich fühle mich heute etwas angeschlagen, deshalb werde ich wohl früher nach Hause gehen.\",\n        \"ru\": \"Я сегодня неважно себя чувствую, поэтому думаю пойти домой пораньше.\",\n        \"zh\": \"我今天身体有点不舒服，想早点回家。\",\n        \"ar\": \"أشعر بتوعك قليل اليوم، لذا سأعود إلى المنزل مبكراً.\"\n      }\n    }\n  ],\n  \"tags\": [\"daily\", \"health\", \"lifestyle\"]\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [880, -80],
      "id": "cae8a80a-ddfa-4f03-932d-e2f22f442fe4",
      "name": "Gemini Content Generator"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "schema": "speak_mango_en",
        "operation": "getAll",
        "tableId": "expressions",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "expression",
              "condition": "ilike",
              "keyValue": "=*{{ $('Parse Expression JSON').item.json.expression }}*"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [496, -64],
      "id": "9217fca3-7a94-4077-96c0-26d37e4a6a54",
      "name": "Check Duplicate",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-api-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7588390d-2c9b-4409-9df3-6e365605d4a6",
              "leftValue": "={{ $('Check Duplicate').first().json.expression }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [656, -64],
      "id": "b2e22d2a-abc8-41a5-ba15-18b92004e7d3",
      "name": "If New"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "schema": "speak_mango_en",
        "tableId": "expressions",
        "dataToSend": "autoMapInputData"
      },
      "id": "49569b5d-6f3c-4b58-941a-1154a827cfea",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2304, -80],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-api-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  // Gemini의 응답에서 JSON 문자열 부분만 추출하여 파싱합니다.\n  const rawText = $input.first().json.text;\n  // 마크다운 코드 블록(```json ... ```) 제거\n  const cleanJson = rawText.replace(/```json/g, \"\").replace(/`/g, \"\").trim();\n\n  try {\n    return {\n      json: JSON.parse(cleanJson)\n    };\n  } catch (error) {\n    // 파싱 실패 시 에러 로그 반환 (디버깅용)\n    return {\n      json: {\n        error: \"JSON Parsing Failed\",\n        raw: rawText\n      }\n    };\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, -320],
      "id": "4b391b28-8566-4560-b1df-1fbd42b680ae",
      "name": "Parse Expression JSON"
    },
    {
      "parameters": {
        "jsCode": "  // Gemini의 응답에서 JSON 문자열 부분만 추출하여 파싱합니다.\n  const rawText = $input.first().json.text;\n  // 마크다운 코드 블록(```json ... ```) 제거\n  const cleanJson = rawText.replace(/```json/g, \"\").replace(/`/g, \"\").trim();\n\n  try {\n    return {\n      json: JSON.parse(cleanJson)\n    };\n  } catch (error) {\n    // 파싱 실패 시 에러 로그 반환 (디버깅용)\n    return {\n      json: {\n        error: \"JSON Parsing Failed\",\n        raw: rawText\n      }\n    };\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1168, -80],
      "id": "6dae234a-7f34-4704-bb66-359150049071",
      "name": "Parse Content JSON"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "schema": "speak_mango_en",
        "operation": "getAll",
        "tableId": "expressions",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "category",
              "condition": "eq",
              "keyValue": "={{ $('Pick Category').item.json.category }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [16, -320],
      "id": "6d363283-08a9-4204-bc03-9589e89a7549",
      "name": "Get Existing Expressions",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-api-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Generate UUID\n// 중복이 아님이 확인된 후, 저장 경로 및 DB ID로 사용할 UUID를 생성합니다.\n\n// crypto 모듈이 글로벌에 없을 경우를 대비해 직접 UUID v4 생성 로직 사용\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nreturn {\n  json: {\n    ...$input.first().json,\n    id: uuid\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1504, -80],
      "id": "5b829c88-78aa-48c5-8da8-5b259f51df6a",
      "name": "Generate ID"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Prepare TTS Requests (Groq Orpheus V1)\n// 대화문의 역할(A, B)에 따라 아이템을 분리하고 각각 목소리를 할당합니다.\n\nconst items = $input.all();\nlet results = [];\n\nitems.forEach((item, itemIndex) => {\n  const data = item.json;\n\n  // top-level dialogue 추출\n  const dialogueEntries = data.dialogue || [];\n  const expressionId = data.id;\n\n  dialogueEntries.forEach((entry, lineIndex) => {\n    const rawText = entry.en || \"\";\n    const role = (entry.role || \"A\").toUpperCase();\n\n    // 텍스트 정제\n    const cleanedText = rawText.replace(/\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n\n    // 역할별 목소리 할당\n    const voice = role === \"B\" ? \"troy\" : \"hannah\";\n\n    results.push({\n      json: {\n        ...data, // 원본 데이터 유지\n        tts_input: cleanedText.substring(0, 200),\n        tts_voice: voice,\n        tts_line_index: lineIndex,\n        tts_model: \"canopylabs/orpheus-v1-english\",\n        tts_format: \"wav\",\n        tts_endpoint: \"https://api.groq.com/openai/v1/audio/speech\",\n        // Storage 저장을 위한 경로 확정\n        storage_path: `expressions/${expressionId}/${lineIndex}.wav`,\n      },\n      pairedItem: { item: itemIndex },\n    });\n  });\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1664, -80],
      "id": "ede3e623-0102-4818-b6f5-4c12a32f99ca",
      "name": "Prepare TTS Requests"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/speech",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "canopylabs/orpheus-v1-english"
            },
            {
              "name": "input",
              "value": "={{ $json.tts_input }}"
            },
            {
              "name": "voice",
              "value": "={{ $json.tts_voice }}"
            },
            {
              "name": "response_format",
              "value": "wav"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1824, -80],
      "id": "bd116d19-f0b5-4f81-8bd5-4fde96fe1838",
      "name": "Groq Orpheus TTS",
      "credentials": {
        "httpHeaderAuth": {
          "id": "your-http-header-auth-id",
          "name": "Groq Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://<YOUR_PROJECT_REF>.supabase.co/storage/v1/object/speak-mango-en/{{ $json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1984, -80],
      "id": "4ede8024-8434-41e8-9cd3-4a800e3a9705",
      "name": "Upload to Storage",
      "credentials": {
        "httpHeaderAuth": {
          "id": "your-http-header-auth-id",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Aggregate TTS Results\n// 분리되었던 대화문 라인들을 다시 하나로 합치고 audio_url을 주입합니다.\n\nconst items = $input.all();\nif (items.length === 0) return [];\n\n// 1. 원본 데이터 복원 (Prepare TTS Requests 노드의 결과 참조)\nconst firstItem = items[0];\nconst parentItemIndex = firstItem.pairedItem.item;\nconst parentData = $items(\"Prepare TTS Requests\")[parentItemIndex].json;\n\n// 원본 데이터 복제 (deep copy)\nlet finalData = JSON.parse(JSON.stringify(parentData));\n\n// 2. 불필요한 임시 필드 일괄 제거 (tts_ 로 시작하는 모든 필드)\nObject.keys(finalData).forEach((key) => {\n  if (key.startsWith(\"tts_\") || key === \"storage_path\" || key === \"_validation\") {\n    delete finalData[key];\n  }\n});\n\n// 3. 오디오 URL 주입\nitems.forEach((item) => {\n  const pIdx = item.pairedItem.item;\n  const originalReq = $items(\"Prepare TTS Requests\")[pIdx].json;\n\n  const idx = originalReq.tts_line_index;\n  // Upload to Storage 결과(Key)에서 경로 추출\n  let path = item.json.Key || originalReq.storage_path;\n\n  // 버킷 명칭(speak-mango-en/)이 포함되어 있다면 제거하여 경로 정규화\n  if (path.startsWith(\"speak-mango-en/\")) {\n    path = path.replace(\"speak-mango-en/\", \"\");\n  }\n\n  // top-level dialogue에 audio_url 주입\n  if (finalData.dialogue && finalData.dialogue[idx]) {\n    finalData.dialogue[idx].audio_url = path;\n  }\n});\n\nreturn [{ json: finalData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2144, -80],
      "id": "8aca45c9-383b-4fbd-8adb-033e9aaa5f54",
      "name": "Aggregate TTS Results"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Strict Verification Logic for Gemini Output (n8n Version)\n * Matches rules in: 08_gemini_content_generator_prompt.txt\n * \n * Instructions:\n * 1. Copy ALL code below into an n8n Code Node.\n * 2. Connect it after the 'Parse Content JSON' node.\n * 3. It will validate each item and STOP the workflow if any violations are found.\n */\n\n// ==========================================================================\n//  HELPER FUNCTIONS & CONSTANTS\n// ==========================================================================\n\nconst REGEX = {\n    // Hangul (Korean): Syllables, Jamo, Compatibility Jamo\n    hangul: /[\\uAC00-\\uD7AF\\u1100-\\u11FF\\u3130-\\u318F\\uA960-\\uA97F\\uD7B0-\\uD7FF]/,\n    // Kana (Japanese): Hiragana, Katakana\n    kana: /[\\u3040-\\u309F\\u30A0-\\u30FF]/,\n    // Han (Chinese/Japanese): Unified Ideographs (Common CJK)\n    han: /[\\u4E00-\\u9FCC\\u3400-\\u4DB5]/,\n    // Cyrillic (Russian)\n    cyrillic: /[\\u0400-\\u04FF]/,\n    // Arabic\n    arabic: /[\\u0600-\\u06FF\\u0750-\\u077F]/,\n    // English/Latin (Strict check for leakage)\n    english_letters: /[a-zA-Z]/,\n    // Markdown check (Bold/Italic markers: **, *) - check for paired usages or start/end\n    markdown_emphasis: /(\\*\\*|__|\\*|_)/\n};\n\nconst TARGET_LANGS = ['ko', 'ja', 'es', 'fr', 'de', 'ru', 'zh', 'ar'];\n\n// Heuristic: Explicit exceptions for lowercase-starting Proper Nouns or edge cases\nconst ALLOWED_ENGLISH_TERMS = ['iPhone', 'eBay', 'iMac', 'iPad', 'iOS', 'macOS'];\n\nfunction validateItem(item) {\n    let errors = [];\n    const id = item.id || 'unknown_id';\n\n    // 1. Structure Check\n    if (!item.expression) errors.push(\"Missing 'expression' field.\");\n    if (!item.meaning) errors.push(\"Missing 'meaning' field.\");\n    if (!item.content) errors.push(\"Missing 'content' field.\");\n    if (!item.tags) errors.push(\"Missing 'tags' field.\");\n    if (!item.dialogue || !Array.isArray(item.dialogue)) errors.push(\"Missing 'dialogue' top-level array.\");\n\n    // 2. Tags: Lowercase English Only, No '#'\n    if (item.tags && Array.isArray(item.tags)) {\n        item.tags.forEach(tag => {\n            if (tag.includes('#')) errors.push(`Tag '${tag}' contains '#'.`);\n            if (tag !== tag.toLowerCase()) errors.push(`Tag '${tag}' must be lowercase.`);\n            if (!REGEX.english_letters.test(tag)) errors.push(`Tag '${tag}' must contain English letters.`);\n            if (REGEX.hangul.test(tag) || REGEX.kana.test(tag) || REGEX.cyrillic.test(tag) || REGEX.arabic.test(tag)) {\n                errors.push(`Tag '${tag}' must be English ONLY.`);\n            }\n        });\n    }\n\n    // 3. Meaning: Target Language Only (except En)\n    if (item.meaning) {\n        TARGET_LANGS.forEach(lang => {\n            const text = item.meaning[lang];\n            if (!text) return;\n\n            // Rule: No mixed target languages\n            if (lang === 'ko' && (REGEX.kana.test(text) || REGEX.han.test(text))) errors.push(`Meaning (${lang}) contains Mixed Foreign Script.`);\n            if (lang === 'ja' && REGEX.hangul.test(text)) errors.push(`Meaning (${lang}) contains Mixed Foreign Script (Hangul).`);\n\n            // Rule: No Mixed Language (English Leakage Check)\n            if (['ko', 'ja', 'zh', 'ru', 'ar'].includes(lang)) {\n                checkEnglishInclusion(text, `Meaning (${lang})`, errors);\n            }\n        });\n    }\n\n    // 4. Content: Target Language + English (for explanation) Allowed\n    if (item.content) {\n        TARGET_LANGS.forEach(lang => {\n            const contentObj = item.content[lang];\n            if (!contentObj) return;\n\n            const fieldsToCheck = [\n                contentObj.situation,\n                contentObj.tip,\n                contentObj.quiz?.question,\n                contentObj.quiz?.A,\n                contentObj.quiz?.B,\n                contentObj.quiz?.C\n            ].filter(Boolean);\n\n            fieldsToCheck.forEach(text => {\n                if (lang === 'ko' && REGEX.kana.test(text)) errors.push(`Content (${lang}) contains Kana.`);\n                else if (lang === 'ja' && REGEX.hangul.test(text)) errors.push(`Content (${lang}) contains Hangul.`);\n                else if (['es', 'fr', 'de'].includes(lang)) {\n                    if (REGEX.hangul.test(text) || REGEX.kana.test(text) || REGEX.cyrillic.test(text) || REGEX.arabic.test(text)) {\n                        errors.push(`Content (${lang}) contains Mixed Foreign Script.`);\n                    }\n                }\n            });\n\n            if (contentObj.quiz && contentObj.quiz.answer) {\n                if (!['A', 'B', 'C'].includes(contentObj.quiz.answer)) {\n                    errors.push(`Quiz Answer (${lang}) must be 'A', 'B', or 'C'. Found: ${contentObj.quiz.answer}`);\n                }\n            }\n        });\n    }\n\n    // 5. Dialogue: Top-Level Array\n    if (item.dialogue && Array.isArray(item.dialogue)) {\n        item.dialogue.forEach((dItem, idx) => {\n            if (dItem.en) {\n                if (REGEX.hangul.test(dItem.en) || REGEX.kana.test(dItem.en)) {\n                    errors.push(`Dialogue[${idx}].en contains non-English characters.`);\n                }\n            }\n\n            if (dItem.translations) {\n                TARGET_LANGS.forEach(lang => {\n                    const text = dItem.translations[lang];\n                    if (!text) return;\n\n                    // Rule: Pure Text Only (No Markdown)\n                    if (text.includes('**') || text.includes('__')) {\n                        errors.push(`Dialogue[${idx}].translations.${lang} contains Markdown Bold (**): \"${text}\"`);\n                    }\n\n                    // Rule: No Mixed Language (English Leakage Check)\n                    if (['ko', 'ja', 'zh', 'ru', 'ar'].includes(lang)) {\n                        checkEnglishInclusion(text, `Dialogue[${idx}].translations.${lang}`, errors);\n                    } else {\n                        // Latin Targets (es, fr, de): Check if entire expression leaks\n                        if (item.expression && text.toLowerCase().includes(item.expression.toLowerCase())) {\n                            // Filter false positives where the word is actually correct (e.g. \"Pizza\" -> \"Pizza\")\n                            // Heuristic: If expression > 4 chars, flag it. Short words might be coincidental.\n                            if (item.expression.length > 4) {\n                                errors.push(`Dialogue[${idx}].translations.${lang} contains English expression leakage: \"${item.expression}\"`);\n                            }\n                        }\n                    }\n\n                    // Rule: No Mixed Target Scripts\n                    if (lang === 'ko' && (REGEX.kana.test(text) || REGEX.han.test(text))) errors.push(`Dialogue[${idx}].translations.${lang} contains foreign script.`);\n                    if (lang === 'ja' && REGEX.hangul.test(text)) errors.push(`Dialogue[${idx}].translations.${lang} contains Hangul.`);\n                });\n            }\n        });\n    }\n\n    return {\n        valid: errors.length === 0,\n        errors: errors\n    };\n}\n\n/**\n * Smart English Inclusion Check\n * Allows:\n * 1. Allowlist terms (iPhone, eBay...)\n * 2. Proper Nouns (Start with Uppercase: Instagram, TikTok)\n * 3. Acronyms (All Uppercase: ROI, CEO)\n * Flags:\n * - Lowercase English words (likely leakage)\n */\nfunction checkEnglishInclusion(text, context, errors) {\n    const englishMatches = text.match(/[a-zA-Z]{2,}/g) || [];\n\n    const invalidWords = englishMatches.filter(word => {\n        // 1. Allowed if in Allowlist (Case-insensitive)\n        if (ALLOWED_ENGLISH_TERMS.some(term => term.toLowerCase() === word.toLowerCase())) return false;\n\n        // 2. Allowed if Starts with Uppercase (Proper Noun / Acronym)\n        // e.g. Instagram, TikTok, ROI, CEO, TV\n        if (/^[A-Z]/.test(word)) return false;\n\n        // 3. Otherwise (Lowercase), Flag it!\n        // e.g. \"reach\", \"out\", \"hello\", \"meaning\"\n        return true;\n    });\n\n    if (invalidWords.length > 0) {\n        errors.push(`${context} contains English leakage: ${invalidWords.join(\", \")}`);\n    }\n}\n\n\n// ==========================================================================\n//  N8N EXECUTION BLOCK\n// ==========================================================================\n\nconst allViolations = [];\n\n// Iterate over all input items\nfor (const item of $input.all()) {\n    // Assuming the parsed JSON is in item.json\n    // If your n8n output structure is flattened, adjust 'dataToCheck' accordingly.\n    const dataToCheck = item.json;\n\n    // Run validation\n    const result = validateItem(dataToCheck); // dataToCheck should be the object with expression, meaning, etc.\n\n    if (!result.valid) {\n        allViolations.push({\n            expression: dataToCheck.expression,\n            errors: result.errors\n        });\n\n        // Mark the item as invalid (optional, for debugging downstream if we don't throw)\n        item.json._validation = { status: 'error', errors: result.errors };\n    } else {\n        item.json._validation = { status: 'success' };\n    }\n}\n\n// STOP THE WORKFLOW IF VIOLATIONS FOUND\nif (allViolations.length > 0) {\n    // Format error message\n    const errorMsg = allViolations.map(v =>\n        `[${v.expression}] Errors: ${v.errors.join('; ')}`\n    ).join('\\n');\n\n    // Throw error to stop workflow and show violations\n    throw new Error(`❌ Strict Validation Failed for ${allViolations.length} items:\\n${errorMsg}`);\n}\n\n// If all good, return items\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, -80],
      "id": "dce063e0-367f-41f0-a027-55a7d7987fdb",
      "name": "Validate Content"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pick Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Expression Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Content Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pick Category": {
      "main": [
        [
          {
            "node": "Get Existing Expressions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Expression Generator": {
      "main": [
        [
          {
            "node": "Parse Expression JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Content Generator": {
      "main": [
        [
          {
            "node": "Parse Content JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "If New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New": {
      "main": [
        [
          {
            "node": "Gemini Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expression JSON": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content JSON": {
      "main": [
        [
          {
            "node": "Validate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Expressions": {
      "main": [
        [
          {
            "node": "Gemini Expression Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ID": {
      "main": [
        [
          {
            "node": "Prepare TTS Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TTS Requests": {
      "main": [
        [
          {
            "node": "Groq Orpheus TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Orpheus TTS": {
      "main": [
        [
          {
            "node": "Upload to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Storage": {
      "main": [
        [
          {
            "node": "Aggregate TTS Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate TTS Results": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Content": {
      "main": [
        [
          {
            "node": "Generate ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "your-version-id",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  },
  "id": "your-workflow-id",
  "tags": []
}
