n8n/expressions/v2/expressions_workflow_template_v2.json
{
    "name": "Speak Mango (i18n + Verify Content + 6 items) v4 - 오디오 생성 검증 필요",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "*/5 * * * *"
                        }
                    ]
                }
            },
            "id": "12265455-f6d1-4c44-8c6a-242feadc1c18",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                -688,
                -320
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                160,
                -480
            ],
            "id": "ffdd2f79-1d5d-40f2-bd41-bdaa06f50274",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "your-gemini-api-id",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1248,
                -128
            ],
            "id": "861c4c56-e53c-4821-89b4-9fb88b60d720",
            "name": "Google Gemini Chat Model1",
            "credentials": {
                "googlePalmApi": {
                    "id": "your-gemini-api-id",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 주제 목록 정의 (대분류/소분류 체계 적용)\n// V2 변경점: 랜덤 선택 없이 모든 카테고리를 반환하여 동시에 병렬 처리합니다.\nconst topics = [\n  {\n    domain: \"conversation\",\n    category: \"daily\",\n    topic: \"미국 원어민이 매일 쓰는 생활 영어 표현\",\n  },\n  // {\n  //   domain: \"conversation\",\n  //   category: \"business\",\n  //   topic: \"비즈니스 미팅이나 이메일에서 꼭 필요한 정중한 영어 표현\",\n  // },\n  {\n    domain: \"conversation\",\n    category: \"travel\",\n    topic: \"해외 여행할 때 유용한 필수 영어 표현\",\n  },\n  {\n    domain: \"conversation\",\n    category: \"shopping\",\n    topic: \"해외 직구 쇼핑이나 매장에서 사용하는 쇼핑 관련 영어 표현\",\n  },\n  {\n    domain: \"conversation\",\n    category: \"emotion\",\n    topic: \"기쁨, 슬픔, 화남 등 감정을 섬세하게 표현하는 영어 단어\",\n  },\n  {\n    domain: \"conversation\",\n    category: \"slang\",\n    topic: \"미드나 영화에 자주 나오는 최신 트렌디한 슬랭\",\n  },\n];\n\n// 모든 주제를 아이템으로 반환 (Fan-out)\nreturn topics.map(t => ({\n  json: {\n    domain: t.domain,\n    category: t.category,\n    topic: t.topic\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -512,
                -320
            ],
            "id": "62653a4d-bb7d-45b3-8638-299ed7765f78",
            "name": "Pick Category"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Role: Professional English Teacher\nTask: Suggest ONE useful English expression related to the category below.\n\nDomain: {{ $json.domain }}\nCategory: {{ $json.category }}\n\n# EXCLUDED EXPRESSIONS (Do NOT generate these):\n{{ $json.existing_expressions_str }}\n\nRequirements:\n1. The expression must be practical and widely used.\n2. **Do NOT use any expression listed in the 'EXCLUDED EXPRESSIONS' list.**\n3. Capitalization for 'expression':\n   - Start with an UPPERCASE letter for standalone sentences (e.g., \"Don't take it personally\", \"No cap\").\n   - Start with a lowercase letter for general phrases or idioms (e.g., \"spill the tea\", \"hit the road\").\n4. Punctuation for 'expression': Do NOT include trailing periods (.) or commas (,). Exclamation marks (!) and question marks (?) are allowed.\n5. For the 'meaning' field:\n   - Provide a concise definition in a casual tone (반말).\n   - If there are multiple meanings, separate them with ' · ' (middle dot).\n   - Do NOT end with a period (.).\n6. Output MUST be a clean JSON object.\n\nOutput Format (JSON):\n{\n  \"expression\": \"Hold your horses\",\n  \"meaning\": \"잠깐 기다려 · 진정해\"\n}",
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.8,
            "position": [
                160,
                -320
            ],
            "id": "ab206104-864b-457d-b78d-ea52fdf3fe75",
            "name": "Gemini Expression Generator",
            "executeOnce": false
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Role: Professional English Content Creator & Polyglot Teacher.\nTask: Create a detailed study card for the following English expression in these languages: **English (en), Korean (ko), Japanese (ja), Spanish (es), French (fr), German (de), Russian (ru), Chinese (zh), and Arabic (ar)**.\n\nExpression: {{ $json.expression }}\nDomain: {{ $json.domain }}\nCategory: {{ $json.category }}\n\nRequirements:\n1. Tone: Friendly, humorous, and engaging (target audience: 20-30s), BUT **MUST use polite language consistently** for explanations.\n    - **English**: Use **Standard English** (Friendly, conversational, yet educational).\n    - **Korean**: Use **존댓말 (Jondaetmal)**.\n    - **Japanese**: Use **Desu-Masu Form (丁寧語)**.\n    - **Spanish**: Use **'Tú' form** but keep it respectful and professional.\n    - **French**: Use **'Tu' form** for engagement but maintain a polite, helpful tone (or 'Vous' if context demands strict formality, but 'Tu' is preferred for 20-30s friendly content).\n    - **German**: Use **'Du' form** (friendly, for 20-30s audience).\n    - **Russian**: Use **'Вы' (Polite)** for general explanations to maintain authority, or **'ты'** if very casual. (Stick to **Friendly 'Вы'** or respectful **'ты'**). Let's use **Friendly 'Ты'** for this target audience (20-30s blog style).\n    - **Chinese**: Use **Polite yet friendly (你 + 敬语/Polite particles)**.\n    - **Arabic**: Use **Modern Standard Arabic (MSA)** but with a friendly, accessible tone (avoid overly archaic vocabulary).\n\n2. For the 'meaning' field in ALL languages:\n   - **Tone**: Use a **casual tone** by default.\n     - **Korean**: Use **반말 (Banmal)**.\n     - **Japanese**: Use **Plain Form (Tameguchi/タメ口)**.\n     - **Spanish**: Use **Informal 'Tú' form**.\n     - **French**: Use **Informal 'Tu' form**.\n     - **German**: Use **Informal 'Du' form**.\n     - **Russian**: Use **Informal 'ты' form**.\n     - **Chinese**: Use **Casual speech**.\n     - **Arabic**: Use **MSA** (simplified).\n   - **Target Language ONLY**: Definitions must be in the specified Target Language. Do NOT mix with other languages (except for 'en', which uses English).\n   - **EXCEPTION**: If the English expression is formal or typically used in a polite situation (e.g., \"Could I...\", \"May I...\"), use a **polite tone** in all languages.\n     - **Korean**: 존댓말 (Jondaetmal).\n     - **Japanese**: Desu-Masu Form (丁寧語).\n     - **Spanish**: Formal 'Usted' form.\n     - **French**: Formal 'Vous' form.\n     - **German**: Formal 'Sie' form.\n     - **Russian**: Formal 'Вы' form.\n     - **Chinese**: Polite speech (using '您' instead of '你').\n     - **Arabic**: Formal MSA (Fusha).\n   - For English (en) meaning: Provide a simple, clear definition or synonym in English.\n   - **Punctuation**: If the English expression is a question (?), the meaning MUST also end with a question mark (?) or be phrased as a question. Do NOT use trailing periods (.) for statements.\n   - If there are multiple meanings, separate them with ' · ' (middle dot).\n3. Formatting for 'expression':\n   - **Capitalization**: **Start with an UPPERCASE letter** if the expression is a standalone sentence or interjection (e.g., \"No worries\", \"Never mind\", \"Don't take it personally\"). **Start with a lowercase letter** ONLY if it is a phrase or idiom used within a sentence (e.g., \"spill the tea\", \"hit the road\").\n   - Punctuation: Do NOT include trailing periods (.) or commas (,). Exclamation marks (!) and question marks (?) are allowed.\n4. Constraint for content:\n   - **Language Usage**: Use the specific **Target Language** for all explanations (this applies to situation, tips, AND quiz questions/options).\n     *   **English Inclusion Allowed**: You MAY include the English expression or specific English keywords naturally for educational purposes.\n     *   **No Mixed Target Language Scripts**: Do NOT mix in other target languages (e.g., no Japanese characters in Korean content, no Hangul in Spanish).\n   - **NEVER use casual speech** in the explanation, tips, dialogue, or situation description (except for the 'meaning' field).\n     - **English**: Avoid text-speak (e.g., \"u\", \"r\") or excessive slang in explanations; keep it clear and accessible.\n     - **Korean**: No 반말 (Banmal).\n     - **Japanese**: No Plain Form (Tameguchi).\n     - **Spanish/French/German/Russian**: Maintain a helpful, teacher-like tone (avoid overly colloquial slang in the explanation text itself).\n   - Do NOT mix polite and casual styles. Keep the tone consistent throughout.\n   - Do NOT address the reader as specific groups like \"Kids\" or \"Students\". Use a general, relatable tone suitable for young adults.\n5. Output MUST be a valid JSON object matching the schema below.\n6. 'meaning' and 'content' fields must contain keys for **en, ko, ja, es, fr, de, ru, zh, ar**.\n7. **Dialogue & Roles (CRITICAL)**:\n   - The `dialogue` field is a **TOP-LEVEL array** (sibling to `meaning` and `content`), NOT inside `content`.\n   - Create a **coherent, natural conversation** between two people (A and B).\n   - **The dialogue MUST consist of 2 or 3 turns (A -> B or A -> B -> A).**\n   - Ensure natural interaction where either speaker can use the target expression in a meaningful context (not limited to a Q&A pattern).\n   - Each entry in the `dialogue` array MUST include:\n     - `\"role\"`: Value \"A\" or \"B\" to distinguish speakers.\n     - `\"en\"`: The English sentence (**English ONLY**).\n     - `\"translations\"`: **CRITICAL** An object containing translations for **ALL 8 target languages**: `\"ko\"`, `\"ja\"`, `\"es\"`, `\"fr\"`, `\"de\"`, `\"ru\"`, `\"zh\"`, `\"ar\"`.\n       *   **Do NOT omit this object or any languages.**\n       *   **Target Language ONLY**: The value MUST contain ONLY the translated text in the target language.\n       *   **Pure Text Only**: Do NOT use markdown formatting (e.g., **bold**, *italic*). **Natural punctuation** (e.g., . , ? ! ') IS allowed and expected to reflect the spoken tone.\n       *   **No Mixed Language (CRITICAL)**: **NEVER** include the original English text or the English expression in the translation. (e.g., **Bad**: \"안녕하세요. Hello.\", **Good**: \"안녕하세요\")\n8. **Consistency**: Use the 'Example (Korean)' below as a reference for the depth, humor, and style. Apply the same quality to English, Japanese, Spanish, French, German, Russian, Chinese, and Arabic.\n9. **Fixed Fields**: Include the 'domain' and 'category' exactly as provided in the input.\n10. **Quiz Logic (CRITICAL)**:\n    - The quiz must test the understanding of the English expression.\n    - **Randomly select one of the following patterns**:\n      - **Pattern 1 (Situation -> English)**: Describe a situation in [Target Language] and ask \"Which English expression fits this situation?\". -> The options (A, B, C) MUST be **English expressions**.\n        *   *Example (Target Language: ko)*: Q: \"친구가 \\\"이번 주말에 영화 볼까요?\\\"라고 제안했을 때, 긍정적으로 동의하는 가장 자연스러운 영어 표현은?\\n\\nA. Sounds bad\\nB. Sounds good\\nC. Sounds angry\"\n      - **Pattern 2 (Expression -> Situation)**: Show the expression and ask \"When would you use this?\" in [Target Language]. -> The options (A, B, C) MUST be **situations described in [Target Language]**.\n        *   *Example (Target Language: ko)*: Q: \"다음 중 'What's up?'을 가장 자연스럽게 사용할 수 있는 상황은?\\n\\nA. 💰 은행에서 대출 상담을 받고 있다.\\nB. 🚀 회사 중역 회의에서 발표를 시작한다.\\nC. 🚶‍♀️ 길을 걷다가 친구와 눈이 마주쳤다.\"\n      - **Pattern 3 (Negative Logic)**: Ask \"Which situation is **NOT** appropriate for this expression?\" in [Target Language]. -> The options (A, B, C) MUST be **situations described in [Target Language]**.\n        *   *Example (Target Language: ko)*: Q: \"다음 중 'Let's touch base.'의 사용이 적절하지 않은 상황은?\\n\\nA. 🙋‍♀️ 팀원과 주간 보고서에 대해 짧게 이야기할 때.\\nB. 🥳 친구들과 주말에 놀러 갈 계획을 세울 때.\\nC. 🧑‍💻 고객과 다음 단계 논의를 위해 연락할 때.\"\n    - **Strict Formatting & Validation Rules**:\n      1. **These rules apply to ALL languages (en, ko, ja, es, fr, de, ru, zh, ar).**\n      2. You **MUST** provide 3 distinct options labeled A, B, and C.\n      3. You **MUST** use `\\n` (newline) to separate the question and each option.\n      4. The 'answer' field MUST be **only the uppercase letter** (e.g., \"A\", \"B\", \"C\"). **NEVER** include the full text of the answer.\n      5. **Randomize the correct answer position**: The correct answer MUST be randomly assigned to A, B, or C. Do NOT default to 'B'. ensure equal distribution of A, B, and C across different generations.\n11. **Tags (MANDATORY)**: Include a `\"tags\"` field containing an array of 3 to 5 lowercase **English** strings (**English ONLY**). These tags should be relevant keywords that help categorize the expression (e.g., \"idiom\", \"office\", \"slang\", \"travel\"). Do NOT include the '#' symbol.\n12. **Currency & Numbers**:\n    - Always use **`$` (USD)** for currency to maintain consistency (e.g., \"$10\", \"$50.50\"). Do not use other currencies like 'won', 'yen', or 'euro' unless the expression specifically requires it.\n    - Use commas for numbers larger than 1,000 (e.g., \"1,000\", \"10,000\").\n\nExample Output (Reference this style for ALL languages):\n{\n  \"expression\": \"under the weather\",\n  \"domain\": \"conversation\",\n  \"category\": \"daily\",\n  \"meaning\": {\n    \"en\": \"not feeling well · feeling sick\",\n    \"ko\": \"몸이 좀 안 좋아 · 컨디션이 별로야\",\n    \"ja\": \"体調が少し悪い · 気分がすぐれない\",\n    \"es\": \"sentirse un poco mal · no estar al cien\",\n    \"fr\": \"se sentir mal · être patraque\",\n    \"de\": \"sich nicht gut fühlen · angeschlagen sein\",\n    \"ru\": \"неважно себя чувствовать · приболеть\",\n    \"zh\": \"身体不舒服 · 感觉不太好\",\n    \"ar\": \"لست على ما يرام · أشعر بالمرض\"\n  },\n  \"content\": {\n    \"en\": {\n      \"situation\": \"This is perfect for those days when you wake up feeling a bit sluggish or off. 😱 It's a great expression to say you're not 100%, but not seriously ill either! 🤒✨\",\n      \"tip\": \"💡 **Fun Fact!** This idiom is said to come from sailors who would go below deck (under the weather rail) when they felt seasick during bad weather! ⚓️🌊 Remember, if you are genuinely sick, it's better to say 'I'm sick' or 'I have a fever'.\",\n      \"quiz\": {\n        \"question\": \"When is the most appropriate time to use 'under the weather'?\\n\\nA. 🥳 When you are dancing happily at a party.\\nB. 😴 When you are lying in bed feeling a bit chilly and off.\\nC. 🏋️‍♀️ When you are lifting weights energetically at the gym.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ko\": {\n      \"situation\": \"🌟 아침에 일어났는데 왠지 모르게 몸이 축 처지고, 컨디션이 별로일 때! 😱 '아, 나 오늘 뭔가 좀 별론데... 병든 병아리 같아...' 할 때 쓰는 핵인싸 표현이에요! 진짜 아픈 건 아닌데 그렇다고 완전 쌩쌩하지도 않을 때, 가볍게 내 상태를 말하고 싶을 때 찰떡같이 쓸 수 있답니다! 🤒✨\",\n      \"tip\": \"🚨 **꿀팁 방출!** 'under the weather'는 진짜 심각하게 아플 때보다는 가볍게 '컨디션이 안 좋다', '감기 기운이 있다' 정도의 느낌이에요. 😷 만약 진짜 심하게 아프다면 'I'm sick' 또는 'I have a fever'처럼 구체적으로 말하는 게 좋아요. 😉 그리고 이 표현은 뱃사람들이 배에서 날씨가 안 좋을 때 아픈 사람을 갑판 아래로 보내 '날씨 아래'에 있게 했다는 유래가 있대요! 완전 신기하죠? ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"다음 중 'under the weather'를 사용하기 가장 적절한 상황은?\\n\\nA. 🥳 파티에서 신나게 춤추고 있다.\\nB. 😴 침대에서 밍기적거리며 몸이 좀 으슬으슬하다.\\nC. 🏋️‍♀️ 헬스장에서 역기를 들고 운동하고 있다.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ja\": {\n      \"situation\": \"朝起きた時に、なんとなく体がだるくて「今日はなんだか調子が悪いな…」と感じる時にぴったりの表現です！😷 本当にひどい病気ではないけれど、100%元気でもない時に、自分の状態をカジュアルに伝えることができます。✨\",\n      \"tip\": \"💡 **豆知識!** この表現は、昔の船乗りが天候が悪くて体調を崩した時に、甲板の下（Under the deck）に避難したことから「Under the weather」になったという説があります。⚓️ 本当に体調が悪い時は「I'm sick」を使いましょう！\",\n      \"quiz\": {\n        \"question\": \"「under the weather」を使うのに最も適した状況は？\\n\\nA. 🥳 パーティーで楽しく踊っている。\\nB. 😴 風邪気味で、ベッドで休んでいる。\\nC. 🏋️‍♀️ ジムで元気にトレーニングしている。\",\n        \"answer\": \"B\"\n      }\n    },\n    \"es\": {\n      \"situation\": \"¡Cuando te despiertas y te sientes un poco cansado o sin energía! 😱 Es una expresión muy común para decir que no te sientes al 100%, pero tampoco estás gravemente enfermo. 🤒✨\",\n      \"tip\": \"🚨 **¡Dato curioso!** El origen viene de los marineros. Cuando el clima era malo y se sentían mal, bajaban debajo de la cubierta para estar 'bajo el clima'. 🌊⚓️ Si estás realmente enfermo, es mejor usar 'I'm sick'.\",\n      \"quiz\": {\n        \"question\": \"¿En qué situación usarías \\\"under the weather\\\"?\\n\\nA. 🥳 En una fiesta bailando alegremente.\\nB. 😴 Descansando en la cama porque te sientes un poco mal.\\nC. 🏋️‍♀️ Entrenando con mucha energía en el gimnasio.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"fr\": {\n      \"situation\": \"C'est parfait pour les jours où vous vous réveillez un peu mou. 😱 C'est une super expression pour dire que vous n'êtes pas à 100%, sans être gravement malade ! 🤒✨\",\n      \"tip\": \"💡 **Le saviez-vous ?** Cette expression viendrait des marins qui descendaient sous le pont pour s'abriter du mauvais temps quand ils avaient le mal de mer ! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"Quand est-il le plus approprié d'utiliser 'under the weather' ?\\n\\nA. 🥳 Quand vous dansez joyeusement à une fête.\\nB. 😴 Quand vous êtes au lit et que vous vous sentez un peu fébrile.\\nC. 🏋️‍♀️ Quand vous soulevez des poids énergiquement à la salle de sport.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"de\": {\n      \"situation\": \"Perfekt für Tage, an denen man aufwacht und sich einfach schlapp fühlt. 😱 Ein toller Ausdruck, um zu sagen, dass man nicht 100% fit ist, aber auch nicht ernsthaft krank! 🤒✨\",\n      \"tip\": \"💡 **Schon gewusst?** Diese Redewendung stammt angeblich von Seeleuten, die bei schlechtem Wetter unter Deck gingen, wenn sie seekrank waren! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"Wann ist der beste Zeitpunkt, 'under the weather' zu verwenden?\\n\\nA. 🥳 Wenn du fröhlich auf einer Party tanzt.\\nB. 😴 Wenn du im Bett liegst und dich etwas kränklich fühlst.\\nC. 🏋️‍♀️ Wenn du im Fitnessstudio energiegeladen Gewichte hebst.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ru\": {\n      \"situation\": \"Это идеально подходит для тех дней, когда вы просыпаетесь с чувством вялости. 😱 Отличное выражение, чтобы сказать, что вы не на 100% в форме, но и не серьезно больны! 🤒✨\",\n      \"tip\": \"💡 **Интересный факт!** Говорят, что эта идиома пошла от моряков, которые спускались под палубу (under the weather rail), когда их укачивало во время шторма! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"Когда уместнее всего использовать 'under the weather'?\\n\\nA. 🥳 Когда вы радостно танцуете на вечеринке.\\nB. 😴 Когда вы лежите в кровати и чувствуете легкое недомогание.\\nC. 🏋️‍♀️ Когда вы энергично поднимаете тяжести в спортзале.\",\n        \"answer\": \"B\"\n      }\n    },\n    \"zh\": {\n      \"situation\": \"当你早上醒来感觉有点没精神或者不舒服的时候，用这个词再合适不过了！😱 这是一个很好的表达，用来形容你状态不是100%好，但也没生什么大病！🤒✨\",\n      \"tip\": \"💡 **冷知识！** 据说这句习语源于水手，当遇到恶劣天气感到晕船时，他们会躲到甲板下面（under the weather rail）！⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"什么时候最适合使用 'under the weather'？\\n\\nA. 🥳 当你在派对上开心地跳舞时。\\nB. 😴 当你躺在床上感觉有点发冷不舒服时。\\nC. 🏋️‍♀️ 当你在健身房精力充沛地举重时。\",\n        \"answer\": \"B\"\n      }\n    },\n    \"ar\": {\n      \"situation\": \"هذا التعبير مثالي للأيام التي تستيقظ فيها وأنت تشعر ببعض الخمول أو التعب. 😱 إنه تعبير رائع لتقول إنك لست في كامل لياقتك، لكنك لست مريضاً بشكل خطير أيضاً! 🤒✨\",\n      \"tip\": \"💡 **حقيقة ممتعة!** يقال إن هذا المصطلح جاء من البحارة الذين كانوا ينزلون تحت سطح السفينة (تحت حاجز الطقس) عندما يشعرون بدوار البحر أثناء الطقس السيئ! ⚓️🌊\",\n      \"quiz\": {\n        \"question\": \"متى يكون الوقت الأنسب لاستخدام عبارة 'under the weather'؟\\n\\nA. 🥳 عندما ترقص بسعادة في حفلة.\\nB. 😴 عندما تكون مستلقياً في السرير وتشعر ببعض البرودة والتوعك.\\nC. 🏋️‍♀️ عندما ترفع الأثقال بنشاط في صالة الألعاب الرياضية.\",\n        \"answer\": \"B\"\n      }\n    }\n  },\n  \"dialogue\": [\n    {\n      \"role\": \"A\",\n      \"en\": \"Hey, you look a bit down. Are you okay?\",\n      \"translations\": {\n        \"ko\": \"저기, 좀 기분이 안 좋아 보이는데. 괜찮아요?\",\n        \"ja\": \"ねえ、なんだか元気がないみたいだけど大丈夫？\",\n        \"es\": \"Oye, te ves un poco desanimado. ¿Estás bien?\",\n        \"fr\": \"Hé, tu as l'air un peu déprimé. Ça va ?\",\n        \"de\": \"Hey, du siehst ein bisschen niedergeschlagen aus. Alles okay?\",\n        \"ru\": \"Эй, ты выглядишь немного подавленным. Ты в порядке?\",\n        \"zh\": \"嘿，你看起来有点沮丧。你还好吗？\",\n        \"ar\": \"مهلاً، تبدو محبطاً قليلاً. هل أنت بخير؟\"\n      }\n    },\n    {\n      \"role\": \"B\",\n      \"en\": \"I'm feeling a bit under the weather today, so I think I'll just head home early.\",\n      \"translations\": {\n        \"ko\": \"오늘 몸이 좀 안 좋아서, 일찍 집에 가려고요.\",\n        \"ja\": \"今日はちょっと体調が悪いので、早めに帰ろうと思います。\",\n        \"es\": \"Hoy me siento un poco mal, así que creo que me iré a casa temprano.\",\n        \"fr\": \"Je ne me sens pas très bien aujourd'hui, donc je pense que je vais rentrer plus tôt.\",\n        \"de\": \"Ich fühle mich heute etwas angeschlagen, deshalb werde ich wohl früher nach Hause gehen.\",\n        \"ru\": \"Я сегодня неважно себя чувствую, поэтому думаю пойти домой пораньше.\",\n        \"zh\": \"我今天身体有点不舒服，想早点回家。\",\n        \"ar\": \"أشعر بتوعك قليل اليوم، لذا سأعود إلى المنزل مبكراً.\"\n      }\n    }\n  ],\n  \"tags\": [\"daily\", \"health\", \"lifestyle\"]\n}",
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.8,
            "position": [
                1248,
                -304
            ],
            "id": "8b7fb4ee-64b0-4d2e-912f-471e43291542",
            "name": "Gemini Content Generator"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "speak_mango_en",
                "operation": "getAll",
                "tableId": "expressions",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "expression",
                            "condition": "ilike",
                            "keyValue": "=\"*{{ $json.expression }}*\""
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                416,
                224
            ],
            "id": "3537da0e-42a7-4194-b996-3e1a13790f8a",
            "name": "Check Duplicate",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "your-supabase-api-id",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "7588390d-2c9b-4409-9df3-6e365605d4a6",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "string",
                                "operation": "empty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                832,
                0
            ],
            "id": "319540e2-a3dc-4334-adf8-07098432ac46",
            "name": "If New"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "speak_mango_en",
                "tableId": "expressions",
                "dataToSend": "autoMapInputData"
            },
            "id": "3b71652d-c326-44bf-b5a6-1d8285f76e00",
            "name": "Supabase Insert",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2752,
                -304
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "your-supabase-api-id",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 06. Parse Expression JSON & Merge Context (V2 Robust)\n// Gemini Expression Generator의 응답(텍스트)을 파싱합니다.\n// 'Merge Context' 노드가 앞단에 추가되어, domain/category 정보가 이미 $input에 포함되어 있다고 가정합니다.\n\nreturn $input.all().map((item) => {\n    const rawText = item.json.text || \"\";\n\n    // Clean Markdown\n    const cleanJson = rawText\n        .replace(/^```json\\s*/i, \"\")\n        .replace(/\\s*```$/, \"\")\n        .trim();\n\n    // Context: Merge Node를 통해 이미 json에 합쳐져 있음\n    const domain = item.json.domain || \"unknown\";\n    const category = item.json.category || \"unknown\";\n    const topic = item.json.topic || \"unknown\";\n\n    try {\n        const parsed = JSON.parse(cleanJson);\n        return {\n            json: {\n                ...parsed,\n                domain,\n                category,\n                topic\n            },\n            pairedItem: item.pairedItem\n        };\n    } catch (error) {\n        return {\n            json: {\n                error: \"JSON Parsing Failed\",\n                message: error.message,\n                raw: rawText,\n                domain,\n                category,\n                topic\n            },\n            pairedItem: item.pairedItem\n        };\n    }\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                416,
                0
            ],
            "id": "6612b271-4616-4059-8ee2-f7ec0524505c",
            "name": "Parse Expression JSON"
        },
        {
            "parameters": {
                "jsCode": "// 11. Parse Content JSON\n// Gemini Content Generator의 응답(텍스트)을 파싱하여 JSON 객체로 변환합니다.\n// 병렬 실행(Fan-out)을 지원하기 위해 들어오는 모든 아이템($input.all())을 처리합니다.\n\nreturn $input.all().map(item => {\n    const rawText = item.json.text;\n\n    // 1. 텍스트가 없는 경우 에러 처리\n    if (!rawText) {\n        return {\n            json: {\n                error: \"No text field found\",\n                ...item.json // 기존 데이터 보존 시도\n            },\n            pairedItem: item.pairedItem\n        };\n    }\n\n    // 2. 마크다운 코드 블록(```json ... ```) 안전하게 제거\n    // 정규식을 사용하여 앞뒤의 마크다운 태그만 제거하고 내용물은 유지합니다.\n    const cleanJson = rawText\n        .replace(/^```json\\s*/i, \"\") // 시작 태그 (case insensitive)\n        .replace(/\\s*```$/, \"\")      // 종료 태그\n        .trim();\n\n    try {\n        // 3. JSON 파싱\n        const parsed = JSON.parse(cleanJson);\n\n        return {\n            json: parsed,\n            pairedItem: item.pairedItem // Lineage 유지\n        };\n    } catch (error) {\n        // 4. 파싱 실패 시 에러 로그 반환 (디버깅용)\n        return {\n            json: {\n                error: \"JSON Parsing Failed\",\n                message: error.message,\n                raw: rawText,\n                clean: cleanJson\n            },\n            pairedItem: item.pairedItem\n        };\n    }\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1584,
                -304
            ],
            "id": "e2e41e65-58f2-4677-86b9-2de999fcf3fb",
            "name": "Parse Content JSON"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "speak_mango_en",
                "operation": "getAll",
                "tableId": "expressions",
                "returnAll": true,
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "category",
                            "condition": "eq",
                            "keyValue": "={{ $('Pick Category').item.json.category }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -336,
                -320
            ],
            "id": "bfe99e67-48e4-49c5-a53d-e597deac405a",
            "name": "Get Existing Expressions",
            "alwaysOutputData": false,
            "executeOnce": false,
            "retryOnFail": false,
            "notesInFlow": false,
            "credentials": {
                "supabaseApi": {
                    "id": "your-supabase-api-id",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 13. Generate ID (V2 Fan-out Support)\n// 중복이 아님이 확인된 각 아이템에 대해 저장 경로 및 DB ID로 사용할 UUID를 생성합니다.\n// V2 변경점: $input.all()을 순회하며 모든 아이템에 대해 각각의 UUID를 생성합니다.\n\nreturn $input.all().map(item => {\n    // UUID v4 생성 (crypto 모듈 의존성 없이)\n    const uuid = \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(\n        /[xy]/g,\n        function (c) {\n            const r = (Math.random() * 16) | 0;\n            const v = c === \"x\" ? r : (r & 0x3) | 0x8;\n            return v.toString(16);\n        }\n    );\n\n    return {\n        json: {\n            ...item.json, // 기존 데이터 보존\n            id: uuid,     // 고유 ID 부여\n        },\n        pairedItem: item.pairedItem // Lineage 유지\n    };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1920,
                -304
            ],
            "id": "5e515074-f53c-4ec1-934f-fe3b9a9308a5",
            "name": "Generate ID"
        },
        {
            "parameters": {
                "jsCode": "// 14. Prepare TTS Requests (V2 Fan-out Support)\n// 대화문의 역할(A, B)에 따라 아이템을 분리하고 각각 목소리를 할당합니다.\n// V2: 이미 Fan-out 로직이 적용되어 있으나, 파일명 통일성을 위해 V2로 이동합니다.\n\nconst items = $input.all();\nlet results = [];\n\nitems.forEach((item, itemIndex) => {\n    const data = item.json;\n\n    // top-level dialogue 추출\n    const dialogueEntries = data.dialogue || [];\n    const expressionId = data.id;\n\n    dialogueEntries.forEach((entry, lineIndex) => {\n        const rawText = entry.en || \"\";\n        const role = (entry.role || \"A\").toUpperCase();\n\n        // 텍스트 정제\n        const cleanedText = rawText.replace(/\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n\n        // 역할별 목소리 할당\n        const voice = role === \"B\" ? \"troy\" : \"hannah\";\n\n        results.push({\n            json: {\n                ...data, // 원본 데이터 유지\n                tts_input: cleanedText.substring(0, 200),\n                tts_voice: voice,\n                tts_line_index: lineIndex,\n                tts_model: \"canopylabs/orpheus-v1-english\",\n                tts_format: \"wav\",\n                tts_endpoint: \"https://api.groq.com/openai/v1/audio/speech\",\n                // Storage 저장을 위한 경로 확정\n                storage_path: `expressions/${expressionId}/${lineIndex}.wav`,\n            },\n            pairedItem: { item: itemIndex },\n        });\n    });\n});\n\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2080,
                -304
            ],
            "id": "38c16dd4-ad74-4e0d-ab54-447f805cb347",
            "name": "Prepare TTS Requests"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/audio/speech",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "canopylabs/orpheus-v1-english"
                        },
                        {
                            "name": "input",
                            "value": "={{ $json.tts_input }}"
                        },
                        {
                            "name": "voice",
                            "value": "={{ $json.tts_voice }}"
                        },
                        {
                            "name": "response_format",
                            "value": "wav"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2240,
                -544
            ],
            "id": "ac859aab-9f0d-4b37-b568-db7848ad6f6a",
            "name": "Groq Orpheus TTS",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "your-http-header-auth-id",
                    "name": "Groq Header Auth"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://<YOUR_PROJECT_REF>.supabase.co/storage/v1/object/speak-mango-en/{{ $json.storage_path }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "binaryData",
                "inputDataFieldName": "data",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2416,
                -304
            ],
            "id": "1bd0a642-e4c2-4fcc-99d4-df1d61fa65c1",
            "name": "Upload to Storage",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "your-http-header-auth-id",
                    "name": "Supabase Header Auth"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 15. Aggregate TTS Results (V2 Fan-out Support)\n// TTS 완료된 오디오 조각들을 원본 아이템별로 그룹화하여 합칩니다.\n// V2 변경점: 모든 들어오는 아이템을 Paired Item(원본 표현식) 기준으로 그룹화하여 반환합니다.\n\nconst items = $input.all();\nif (items.length === 0) return [];\n\n// 1. Prepare TTS Requests의 원본 데이터 가져오기\nconst parentItems = $items(\"Prepare TTS Requests\");\n\n// 2. 그룹화 (Paired Item Index 기준)\nconst grouped = {};\n\nitems.forEach((item) => {\n    const pIdx = item.pairedItem.item; // 원본 표현식의 인덱스\n\n    if (!grouped[pIdx]) {\n        // 해당 그룹이 처음 발견되면 초기화\n        // 원본 데이터(parentData)를 깊은 복사하여 시작\n        const parentData = parentItems[pIdx].json;\n        grouped[pIdx] = JSON.parse(JSON.stringify(parentData));\n\n        // 불필요한 임시 필드 제거 (한 번만 실행)\n        Object.keys(grouped[pIdx]).forEach((key) => {\n            if (key.startsWith(\"tts_\") || key === \"storage_path\" || key === \"_validation\") {\n                delete grouped[pIdx][key];\n            }\n        });\n    }\n\n    // 3. 오디오 URL 주입\n    const originalReq = parentItems[pIdx].json; // 주의: pIdx는 정확하지만, Prepare TTS Requests가 Split된 상태라면?\n    // Prepare TTS Requests는 N:N이 아니라 1:N (Split) 관계임.\n    // 따라서 item.pairedItem.item은 \"Prepare TTS Requests\" 노드의 출력 아이템 인덱스를 가리킴.\n\n    // 여기서 문제: \"Prepare TTS Requests\" 자체가 이미 Split된 아이템들인가?\n    // \"Prepare TTS Requests\" 코드를 보면: items.forEach... results.push...\n    // 즉, Prepare TTS Requests는 \"Split된 개별 라인\"들을 출력함.\n    // 따라서 aggregation을 위해서는 그 *이전* 단계인 \"Generate ID\"의 아이템으로 묶어야 함.\n    // 하지만 여기서는 간단히 \"Expression ID\" (id 필드)로 묶는 것이 가장 안전함.\n\n    const expressionId = item.json.id; // Generate ID에서 생성된 UUID\n    // item.json에는 원본 데이터가 포함되어 있으므로 id를 바로 사용 가능.\n});\n\n// 재설계: Paired Item 인덱스보다 'id' 필드를 기준으로 그룹화하는 것이 훨씬 안전함 (V2 Fan-out 환경)\nconst finalizedResults = {};\n\nitems.forEach((item) => {\n    const data = item.json;\n    const expressionId = data.id;\n\n    if (!finalizedResults[expressionId]) {\n        // 초기화: 현재 아이템의 데이터에서 tts 관련 필드만 제거하고 복사\n        const cleanData = JSON.parse(JSON.stringify(data));\n        Object.keys(cleanData).forEach(key => {\n            if (key.startsWith(\"tts_\") || key === \"storage_path\" || key === \"_validation\" || key === \"Key\") {\n                delete cleanData[key];\n            }\n        });\n        finalizedResults[expressionId] = cleanData;\n    }\n\n    // 오디오 경로 추출\n    const originalReq = $items(\"Prepare TTS Requests\")[item.pairedItem.item].json;\n    const lineIndex = originalReq.tts_line_index;\n\n    let path = data.Key || originalReq.storage_path; // Key는 Upload 노드 출력, storage_path는 fallback\n    if (path && path.startsWith(\"speak-mango-en/\")) {\n        path = path.replace(\"speak-mango-en/\", \"\");\n    }\n\n    // URL 주입\n    if (finalizedResults[expressionId].dialogue && finalizedResults[expressionId].dialogue[lineIndex]) {\n        finalizedResults[expressionId].dialogue[lineIndex].audio_url = path;\n    }\n});\n\n// 객체를 배열로 변환하여 반환\nreturn Object.values(finalizedResults).map(json => ({ json }));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2592,
                -304
            ],
            "id": "a0b8f4fd-07f2-4341-9ffa-db440fda6e56",
            "name": "Aggregate TTS Results"
        },
        {
            "parameters": {
                "jsCode": "/**\n * Relaxed Verification Logic for Gemini Output (V2)\n * Filters out invalid items instead of failing the entire workflow.\n * \n * Usage:\n * 1. Copy this code into the n8n Code node.\n * 2. Connect after 'Parse Content JSON'.\n * 3. Returns only VALID items to the next node. Invalid items are logged.\n */\n\nconst REGEX = {\n    hangul: /[\\uAC00-\\uD7AF\\u1100-\\u11FF\\u3130-\\u318F\\uA960-\\uA97F\\uD7B0-\\uD7FF]/,\n    kana: /[\\u3040-\\u309F\\u30A0-\\u30FF]/,\n    han: /[\\u4E00-\\u9FCC\\u3400-\\u4DB5]/,\n    cyrillic: /[\\u0400-\\u04FF]/,\n    arabic: /[\\u0600-\\u06FF\\u0750-\\u077F]/,\n    english_letters: /[a-zA-Z]/,\n    markdown_emphasis: /(\\*\\*|__|\\*|_)/\n};\n\nconst TARGET_LANGS = ['ko', 'ja', 'es', 'fr', 'de', 'ru', 'zh', 'ar'];\nconst ALLOWED_ENGLISH_TERMS = ['iPhone', 'eBay', 'iMac', 'iPad', 'iOS', 'macOS'];\n\nfunction validateItem(item) {\n    let errors = [];\n    if (!item.expression) errors.push(\"Missing 'expression' field.\");\n    if (!item.meaning) errors.push(\"Missing 'meaning' field.\");\n    if (!item.content) errors.push(\"Missing 'content' field.\");\n    if (!item.tags) errors.push(\"Missing 'tags' field.\");\n    if (!item.dialogue || !Array.isArray(item.dialogue)) errors.push(\"Missing 'dialogue' top-level array.\");\n\n    // Tags Validation\n    if (item.tags && Array.isArray(item.tags)) {\n        item.tags.forEach(tag => {\n            if (tag.includes('#')) errors.push(`Tag '${tag}' contains '#'.`);\n            if (tag !== tag.toLowerCase()) errors.push(`Tag '${tag}' must be lowercase.`);\n            if (!REGEX.english_letters.test(tag)) errors.push(`Tag '${tag}' must contain English letters.`);\n            if (REGEX.hangul.test(tag) || REGEX.kana.test(tag) || REGEX.cyrillic.test(tag) || REGEX.arabic.test(tag)) {\n                errors.push(`Tag '${tag}' must be English ONLY.`);\n            }\n        });\n    }\n\n    // Meaning Validation\n    if (item.meaning) {\n        TARGET_LANGS.forEach(lang => {\n            const text = item.meaning[lang];\n            if (!text) return;\n            if (lang === 'ko' && (REGEX.kana.test(text) || REGEX.han.test(text))) errors.push(`Meaning (${lang}) contains Mixed Foreign Script.`);\n            if (lang === 'ja' && REGEX.hangul.test(text)) errors.push(`Meaning (${lang}) contains Mixed Foreign Script (Hangul).`);\n            if (['ko', 'ja', 'zh', 'ru', 'ar'].includes(lang)) {\n                checkEnglishInclusion(text, `Meaning (${lang})`, errors);\n            }\n        });\n    }\n\n    // Content Validation\n    if (item.content) {\n        TARGET_LANGS.forEach(lang => {\n            const contentObj = item.content[lang];\n            if (!contentObj) return;\n\n            const fieldsToCheck = [\n                contentObj.situation,\n                contentObj.tip,\n                contentObj.quiz?.question,\n                contentObj.quiz?.A,\n                contentObj.quiz?.B,\n                contentObj.quiz?.C\n            ].filter(Boolean);\n\n            fieldsToCheck.forEach(text => {\n                if (lang === 'ko' && REGEX.kana.test(text)) errors.push(`Content (${lang}) contains Kana.`);\n                else if (lang === 'ja' && REGEX.hangul.test(text)) errors.push(`Content (${lang}) contains Hangul.`);\n                else if (['es', 'fr', 'de'].includes(lang)) {\n                    if (REGEX.hangul.test(text) || REGEX.kana.test(text) || REGEX.cyrillic.test(text) || REGEX.arabic.test(text)) {\n                        errors.push(`Content (${lang}) contains Mixed Foreign Script.`);\n                    }\n                }\n            });\n\n            if (contentObj.quiz && contentObj.quiz.answer) {\n                if (!['A', 'B', 'C'].includes(contentObj.quiz.answer)) {\n                    errors.push(`Quiz Answer (${lang}) must be 'A', 'B', or 'C'. Found: ${contentObj.quiz.answer}`);\n                }\n            }\n        });\n    }\n\n    // Dialogue Validation\n    if (item.dialogue && Array.isArray(item.dialogue)) {\n        item.dialogue.forEach((dItem, idx) => {\n            if (dItem.en) {\n                if (REGEX.hangul.test(dItem.en) || REGEX.kana.test(dItem.en)) {\n                    errors.push(`Dialogue[${idx}].en contains non-English characters.`);\n                }\n            }\n\n            if (dItem.translations) {\n                TARGET_LANGS.forEach(lang => {\n                    const text = dItem.translations[lang];\n                    if (!text) return;\n\n                    if (text.includes('**') || text.includes('__')) {\n                        errors.push(`Dialogue[${idx}].translations.${lang} contains Markdown Bold (**): \"${text}\"`);\n                    }\n\n                    if (['ko', 'ja', 'zh', 'ru', 'ar'].includes(lang)) {\n                        checkEnglishInclusion(text, `Dialogue[${idx}].translations.${lang}`, errors);\n                    } else {\n                        if (item.expression && text.toLowerCase().includes(item.expression.toLowerCase())) {\n                            if (item.expression.length > 4) {\n                                errors.push(`Dialogue[${idx}].translations.${lang} contains English expression leakage: \"${item.expression}\"`);\n                            }\n                        }\n                    }\n\n                    if (lang === 'ko' && (REGEX.kana.test(text) || REGEX.han.test(text))) errors.push(`Dialogue[${idx}].translations.${lang} contains foreign script.`);\n                    if (lang === 'ja' && REGEX.hangul.test(text)) errors.push(`Dialogue[${idx}].translations.${lang} contains Hangul.`);\n                });\n            }\n        });\n    }\n\n    return {\n        valid: errors.length === 0,\n        errors: errors\n    };\n}\n\nfunction checkEnglishInclusion(text, context, errors) {\n    const englishMatches = text.match(/[a-zA-Z]{2,}/g) || [];\n    const invalidWords = englishMatches.filter(word => {\n        if (ALLOWED_ENGLISH_TERMS.some(term => term.toLowerCase() === word.toLowerCase())) return false;\n        if (/^[A-Z]/.test(word)) return false;\n        return true;\n    });\n\n    if (invalidWords.length > 0) {\n        errors.push(`${context} contains English leakage: ${invalidWords.join(\", \")}`);\n    }\n}\n\n// Execution Block\nconst validItems = [];\nconst invalidItems = [];\n\nfor (const item of $input.all()) {\n    const dataToCheck = item.json;\n    const result = validateItem(dataToCheck);\n\n    if (result.valid) {\n        validItems.push({\n            json: item.json,\n            pairedItem: item.pairedItem\n        });\n    } else {\n        // Log errors to console (visible in n8n execution log)\n        console.log(`⚠️ Invalid Item Skipped [${dataToCheck.expression}]:`, result.errors);\n\n        invalidItems.push({\n            json: {\n                ...item.json,\n                _validationErrors: result.errors,\n                _validationStatus: \"error\"\n            },\n            pairedItem: item.pairedItem\n        });\n    }\n}\n\n// Optional: You could return specific output for invalid items on a second output branch\n// For now, we only return valid items to proceed with the workflow.\nif (validItems.length === 0 && invalidItems.length > 0) {\n    // If ALL failed, maybe we should throw or just return empty?\n    // User asked to \"skip failed items\", so returning empty array is technically correct behavior (stops workflow for those items).\n    console.log(\"❌ All items failed validation.\");\n}\n\nreturn validItems;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1760,
                -304
            ],
            "id": "800b49e0-1e3d-45e0-ac20-11246012ad9c",
            "name": "Validate Content"
        },
        {
            "parameters": {
                "jsCode": "// Prepare Prompt Data (Aggregation)\n// Get Existing Expressions의 결과(다중 아이템)를 \n// Pick Category의 원본 아이템(6개) 기준으로 그룹화합니다.\n\nconst categoryItems = $items(\"Pick Category\");\nconst existingItems = $input.all();\n\n// 1. 카테고리별로 기본 구조 초기화\nconst results = categoryItems.map(c => ({\n    ...c.json,\n    existing: []\n}));\n\n// 카테고리 이름으로 인덱스를 찾기 위한 맵 생성\nconst categoryMap = {};\ncategoryItems.forEach((c, index) => {\n    if (c.json.category) {\n        categoryMap[c.json.category] = index;\n    }\n});\n\n// 2. 검색된 기존 표현들을 해당 카테고리에 매핑\nexistingItems.forEach(item => {\n    let targetIndex = -1;\n\n    // [수정됨] 우선순위 변경: 데이터의 내용(category 필드)을 최우선으로 신뢰합니다.\n    // n8n의 pairedItem은 실행 흐름에 따라 부정확할 수 있으므로(Mock 데이터나 Pinned Data 사용 시),\n    // 실제 데이터에 적혀있는 카테고리 값을 1순위로 사용합니다.\n\n    // 우선순위 1: 아이템 내부의 'category' 필드로 매핑\n    if (item.json.category && categoryMap.hasOwnProperty(item.json.category)) {\n        targetIndex = categoryMap[item.json.category];\n    }\n    // 우선순위 2: category 필드가 없는 경우에만 실행 컨텍스트(pairedItem) 사용\n    else if (item.pairedItem) {\n        targetIndex = item.pairedItem.item;\n    }\n\n    // 유효한 인덱스를 찾았고, 표현식이 있다면 추가\n    if (targetIndex !== -1 && results[targetIndex] && item.json.expression) {\n        results[targetIndex].existing.push(item.json.expression);\n    }\n});\n\n// 3. 포맷팅하여 반환\nreturn results.map(r => ({\n    json: {\n        domain: r.domain,\n        category: r.category,\n        topic: r.topic,\n        existing_expressions_str: r.existing.length > 0 ? r.existing.join(\", \") : \"(None)\"\n    }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -160,
                -320
            ],
            "id": "63af451a-32e8-4e39-83d3-c947c93d503c",
            "name": "Prepare Prompt Data"
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                208,
                0
            ],
            "id": "cf10bb34-3cac-428b-9f7e-0884ca388aa0",
            "name": "Merge Context"
        },
        {
            "parameters": {
                "mode": "combine",
                "advanced": true,
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "expression",
                            "field2": "expression"
                        }
                    ]
                },
                "joinMode": "enrichInput1",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                656,
                0
            ],
            "id": "56aa5338-cec4-4083-8179-c44e98618a6a",
            "name": "Merge Duplicate Status"
        },
        {
            "parameters": {
                "jsCode": "// 15. Groq TTS V2 (Batching & Rate Limit)\n// Groq API의 10 RPM 제한을 준수하기 위해 10개씩 배치 처리하고 65초 대기합니다.\n// 보안: 환경변수(GROQ_API_KEY) 또는 Credential('httpHeaderAuth')을 시도합니다.\n\nconst items = $input.all();\nconst BATCH_SIZE = 10;\nconst WAIT_MS = 65000; // 65초 대기\nconst results = [];\n\n// 대기 함수\nconst sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));\n\n// API Key 가져오기 전략\n// 1. 환경변수 ($env.GROQ_API_KEY) 확인\n// 2. this.getCredentials 시도\n// 3. 실패 시 에러\nlet apiKey;\n\n// Strategy 1: Environment Variable\n// Note: n8n sandbox might restrict access to process.env or $env, throwing an error.\ntry {\n    console.log(\"Debug: Starting API Key Check\");\n\n    if (typeof $env !== 'undefined') {\n        console.log(\"Debug: Keys in $env\", Object.keys($env));\n        if ($env.GROQ_API_KEY) {\n            console.log(\"Debug: Found GROQ_API_KEY in $env\");\n            apiKey = $env.GROQ_API_KEY;\n        }\n    }\n\n    if (!apiKey && typeof process !== 'undefined' && process.env) {\n        console.log(\"Debug: Keys in process.env\", Object.keys(process.env));\n        if (process.env.GROQ_API_KEY) {\n            console.log(\"Debug: Found GROQ_API_KEY in process.env\");\n            apiKey = process.env.GROQ_API_KEY;\n        }\n    }\n} catch (error) {\n    console.log(\"Environment variable access restricted: \" + error.message);\n}\n\n// Strategy 2: Credentials (Fallback)\nif (!apiKey) {\n    try {\n        let credentials;\n        if (typeof this.getCredentials === 'function') {\n            credentials = await this.getCredentials('httpHeaderAuth');\n        } else if (this.helpers && typeof this.helpers.getCredentials === 'function') {\n            credentials = await this.helpers.getCredentials('httpHeaderAuth');\n        }\n\n        if (credentials && credentials.value) {\n            apiKey = credentials.value;\n        }\n    } catch (e) {\n        // Credential 접근 실패는 무시하고 apiKey 없음을 체크\n        console.log(\"Credential access failed: \" + e.message);\n    }\n}\n\n// Final Check\nif (!apiKey) {\n    // 진행 불가\n    return items.map(item => ({\n        json: {\n            ...item.json,\n            error: `API Key Missing. Set GROQ_API_KEY in docker-compose.yml or connect 'Groq Header Auth' credential.`\n        },\n        pairedItem: item.pairedItem\n    }));\n}\n\n\n// 배치 처리 루프\nfor (let i = 0; i < items.length; i += BATCH_SIZE) {\n    const batch = items.slice(i, i + BATCH_SIZE);\n\n    // 병렬 요청 처리\n    const batchPromises = batch.map(async (item) => {\n        try {\n            // 1. 요청 옵션 구성\n            const options = {\n                method: 'POST',\n                uri: 'https://api.groq.com/openai/v1/audio/speech',\n                headers: {\n                    'Content-Type': 'application/json',\n                    'Authorization': `Bearer ${apiKey}`\n                },\n                body: JSON.stringify({\n                    model: 'canopylabs/orpheus-v1-english',\n                    input: item.json.tts_input,\n                    voice: item.json.tts_voice,\n                    response_format: 'wav'\n                }),\n                encoding: null // 중요: 바이너리(Buffer)로 받음\n            };\n\n            // 2. 요청 전송\n            const response = await this.helpers.request(options);\n\n            // 3. 성공 시 바이너리 데이터 포함하여 반환\n            return {\n                json: {\n                    ...item.json,\n                    status: \"success\"\n                },\n                binary: {\n                    data: {\n                        data: Buffer.from(response).toString('base64'),\n                        mimeType: 'audio/wav',\n                        fileName: `${item.json.id}_${item.json.tts_line_index}.wav`\n                    }\n                },\n                pairedItem: item.pairedItem\n            };\n\n        } catch (error) {\n            return {\n                json: {\n                    ...item.json,\n                    status: \"error\",\n                    error_message: error.message,\n                    error_stack: error.stack,\n                    error_response: error.response ? error.response.body : \"No response body\"\n                },\n                pairedItem: item.pairedItem\n            };\n        }\n    });\n\n    // 현재 배치의 모든 요청 완료 대기\n    const batchResults = await Promise.all(batchPromises);\n    results.push(...batchResults);\n\n    // 다음 배치가 남아있다면 대기\n    if (i + BATCH_SIZE < items.length) {\n        await sleep(WAIT_MS);\n    }\n}\n\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2240,
                -304
            ],
            "id": "40762de3-d115-4b38-9352-3c1e1794059f",
            "name": "Groq Orpheus TTS - Code",
            "alwaysOutputData": false
        },
        {
            "parameters": {
                "amount": 60
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1040,
                -304
            ],
            "id": "794c29c2-0a95-4762-b30c-1b6b9bebd49c",
            "name": "Wait",
            "webhookId": "a9cae0ab-b69e-40e1-a24f-0ec68f0927a6"
        }
    ],
    "pinData": {},
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Pick Category",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini Expression Generator",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini Content Generator",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Pick Category": {
            "main": [
                [
                    {
                        "node": "Get Existing Expressions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Expression Generator": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Content Generator": {
            "main": [
                [
                    {
                        "node": "Parse Content JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Duplicate": {
            "main": [
                [
                    {
                        "node": "Merge Duplicate Status",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "If New": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Parse Expression JSON": {
            "main": [
                [
                    {
                        "node": "Check Duplicate",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge Duplicate Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Content JSON": {
            "main": [
                [
                    {
                        "node": "Validate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Existing Expressions": {
            "main": [
                [
                    {
                        "node": "Prepare Prompt Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate ID": {
            "main": [
                [
                    {
                        "node": "Prepare TTS Requests",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare TTS Requests": {
            "main": [
                [
                    {
                        "node": "Groq Orpheus TTS - Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Orpheus TTS": {
            "main": [
                []
            ]
        },
        "Upload to Storage": {
            "main": [
                [
                    {
                        "node": "Aggregate TTS Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate TTS Results": {
            "main": [
                [
                    {
                        "node": "Supabase Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Content": {
            "main": [
                [
                    {
                        "node": "Generate ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Prompt Data": {
            "main": [
                [
                    {
                        "node": "Gemini Expression Generator",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Context": {
            "main": [
                [
                    {
                        "node": "Parse Expression JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Duplicate Status": {
            "main": [
                [
                    {
                        "node": "If New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Orpheus TTS - Code": {
            "main": [
                [
                    {
                        "node": "Upload to Storage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Gemini Content Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "your-version-id",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "your-instance-id"
    },
    "id": "your-workflow-id",
    "tags": []
}